<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body style="background-color: rgba(55, 4, 196, 0.616);">

    
      <div class="container my-5 mt-5">
        <div class="p-5 rounded" style="background-color: rgba(5, 1, 14, 0.329);">
          <div class="col-sm-8 py-5 mx-auto">
            <div class="conteiner text-center mt-5">
                <h1 class="mb-5" style="color: white;">Conceito adicionado com sucesso!</h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <a class="btn btn-light" role="button" href="http://localhost:8000">Voltar para a pagina inicial</a>
                </ul>
                    
            
        </div>
        </div>
      </div>
</body>
</html>