<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body style="background-color: rgba(55, 4, 196, 0.616);">

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(5, 1, 14, 0.842);">
          <div class="container">
            <a class="navbar-brand" href="">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8000/admin">Cadastrar</a>
                </li>
              </ul>
              <div class="container-fluid">
                <form class="d-flex" action="/conceitos/pesquisa" method="get" role="search">
                  <input class="form-control me-2" type="search" name="letra" placeholder="Conceito" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Pesquisar</button>
                </form>
              </div>
            </div>
          </div>
        </nav>

        <div class="container my-5 ">
          <div class="bg-light p-5 rounded">
            <div class="row">
              <div class="col">
              <img src="/imagens/filosof.png" alt="" width="240" height="240">
              </div>
              <div class="col-8">
              <h1 class="display-5 fw-normal">Navege pelos conceitos</h1>
              <p class="fs-5">Esse site tem a proposta de apresentar conceitos históricos a partir de um olhar aprofundado e resumido</p>
              <p>Os conceitos são elaborados e escritos por historiadores e especialistas da área. Confiança, metodologia e conhecimento.</p>
              <p>
                <a class="btn btn-outline-dark" href="http://localhost:8000/conceitos" role="button">Acesse a biblioteca de conceitos completa</a>
              </p>
          </div>
        </div>

        <h1 class="display-5 fw-normal text-center mb-5" style="color: white;">ESCOLHA UMA LETRA:</h1>

        <div class="d-grid gap-2 d-md-block text-center mb-3">
        <% const letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P','Q', 'R', 'S', 'T', 'U', 'V', "W", 'X', 'Y'] %>
        <% for(let i = 0; i < letters.length; i++) { %> 
          <a class="btn btn-dark" style="background-color: rgba(5, 1, 14, 0.842);" role="button" href="http://localhost:8000/conceitos/pesquisa/?letra=<%= letters[i] %>">
              <%= letters[i] %> 
          </a>

        <% } %> 
      </div>

        


</body>
</html>